@import '../../styles/variable.scss';

.main {
  color: $lightest-stale;
  &:hover {
    color: $green;
    &:focus {
      color: $green;
    }
  }
}

#trans:hover {
  transition: $transition;
}

.ant-menu-submenu-selected {
  border-bottom: 0;
}

.spanModule {
  color: $green;
}
.divider {
  border-left: 1px solid $lightest-stale;
  height: 300px;
  position: absolute;
  margin-left: -4px;
  top: 50;
}
