@import '../../styles/variable.scss';

#main {
  color: $lightest-stale;
  position: absolute;
  &:hover {
    margin: 0 auto;
    margin-top: -10px;
    color: $green;
    transition: margin-top 0.2s ease-out;
  }
}

#spacing {
  margin-bottom: 200px;
}

#trans:hover {
  transition: $transition;
}

.spanModule {
  color: $green;
}
.divider {
  border-left: 1px solid $lightest-stale;
  height: 300px;
  position: absolute;
  margin-left: -4px;
  top: 50;
}
