@import '../Project/Project.scss';

#title {
  color: $lightest-stale;
}

#archive {
  color: $green;
  text-align: center;
}

#folder {
  color: $green;
}

#projectDescription {
  color: $lightest-stale;
  margin-bottom: 130px;
}

#projectTool {
  text-align: center;
  color: $slate;
}

#cardProject {
  background-color: $light-navy;
  border-radius: 10px;
  border-color: transparent;
  height: 100%;
  transition: margin-top 0.4s;
  &:hover {
    margin-top: -10px;
    transition-timing-function: ease-out;
    #title {
      color: $green;
    }
  }
}
