@import '../About.scss';
@import '../../../styles//variable.scss';

#linkToNusantech {
  color: $green;
  text-decoration: none;
  position: relative;
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: $green;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}

#paragraph {
  color: $slate;
  margin-top: 20px;
  text-align: justify;
  max-width: 50%;
}
#buttonPDF {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: $green;
  height: 4rem;
  font-size: 13px;
  width: 10rem;
  margin-top: 2rem;
  border-color: $green;
}
