@import '../../styles/Home.module.scss';
@import '../../styles/variable.scss';

#normalText {
  color: $green;
}

#maxWidth {
  width: 1200;
  max-width: 3000;
}

#nameTransparent {
  color: $lightest-stale;
  margin: 0;
  font-size: clamp(40px, 8vw, 80px);
}

#contextUnder {
  margin: 0;
  font-size: clamp(40px, 6vw, 80px);
  color: $slate;
}
