.buttonCode {
    color: rgb(94 234 212/var(1)) !important;
    font-size: 0.75rem !important;  
    color: rgb(45 212 191) !important;
    background-color: rgba(45,212,191,.1) !important;
    border: none;
    border-radius: 9999px !important;
    cursor: default;
  }