@import './variable.scss';



body {
  background: #0a192f !important;
  padding: 0;
  margin: 0;
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace !important;
  background-color: $primary-color;
  height: 1000px;
  
}


:global {
  .cursor-pointer {
    cursor: pointer !important;
  }

  .rounded-8 {
    border-radius: 8px !important;
  }

  .w-full {
    width: 100%;
  }

  .full-height {
    height: 100%;

    .ant-spin-container {
      height: 100%;
    }
  }

  .reset-a,
  .reset-a:hover,
  .reset-a:visited,
  .reset-a:focus,
  .reset-a:active {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }

  #__next {
    height: 100%;
    .ant-card-bordered {
      border: 2px solid #f0f0f0;
    }
  }
}
